<h1 class="text-center" >Register/login</h1>
<div class="row">
    <div class="col-6">
        @await Html.PartialAsync("_register")
    </div>
    <div class="col-6">
        @await Html.PartialAsync("_login")
    </div>
</div>